{
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "singleQuote": true,
  "arrowParens": "always",
  "useTabs": false,
  "printWidth": 180,
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": true
}
